python-decouple
requests
#requests_cache
#requests[socks]

# validation of yaml/json data
cerberus

# webserver stuff
flask
waitress

# text to speech
faster_whisper
wyoming

trafilatura
youtube-transcript-api
yt_dlp
# tts stuff
coqui-tts
spacy
piper-tts
torchcodec

#deepspeed

# scheduling recurring tasks
schedule

websockets

# wppconnect events api (for whatsapp)
python-socketio
python-socketio[client]

# get language from text
langid

bs4
yfinance

# telegram
pyTelegramBotAPI
telethon

# instagram
instagrapi

# image processing
Pillow

# gaudeam lib
git+https://github.com/peteh/python-igitur.git@773f9dd