python-decouple
requests
#requests_cache
#requests[socks]

# validation of yaml/json data
cerberus

# webserver stuff
flask
waitress

faster_whisper
trafilatura
youtube-transcript-api
# tts stuff
coqui-tts
spacy

#deepspeed

# scheduling recurring tasks
schedule

websockets

# wppconnect events api (for whatsapp)
python-socketio
python-socketio[client]

# get language from text
langid

bs4
yfinance
pyTelegramBotAPI
Flask

# image processing
Pillow