python-decouple
requests
#requests_cache
#requests[socks]

# validation of yaml/json data
cerberus

# webserver stuff
flask
waitress

# text to speech
# faster_whisper -- removed due to handling with llamacpp
wyoming

# tts qwen 3.5 ASR - removed due to handling with llamacpp
#qwen-asr


trafilatura
youtube-transcript-api
yt_dlp
# tts stuff
coqui-tts
spacy
piper-tts

# torch trash
transformers<5.0 # workaround for isin_mps_friendly issue
torch
torchcodec
torchaudio



# scheduling recurring tasks
schedule

websockets

# wppconnect events api (for whatsapp)
python-socketio
python-socketio[client]

# get language from text
langid

bs4
yfinance

# telegram
pyTelegramBotAPI
telethon

# instagram
instagrapi

# image processing
Pillow

# gaudeam lib
git+https://github.com/peteh/python-igitur.git@8a0dbff