decouple
requests
#requests[socks]
cerberus
requests_cache
flask
faster_whisper
trafilatura
youtube-transcript-api
#coqui-tts
websockets
python-socketio
python-socketio[client]
langid
#diffusers[torch]
bs4
yfinance
pyTelegramBotAPI