requests
requests[socks]
requests_cache
flask
python-decouple
faster_whisper
trafilatura
youtube-transcript-api
coqui-tts
websockets
denoiser
python-socketio
python-socketio[client]
langid
re_edge_gpt
diffusers[torch]
bard-webapi
bs4
yfinance